.explore {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/banner.jpg') center / cover, #000;
    color: #fff;
    flex-direction: column;
    padding: 2em;
    text-align: center;
}